# User-specific
*.user
*.userosscache
*.sln.docstates

# Build Results
[Bb]in/
[Oo]bj/
*.userprefs
*.usertasks

# Visual Studio / IDEs
.vs/
.vscode/

# Build and Publish
*.bak
*.orig
*.tmp
*.log
*.sqlite
*.db

# OS specific
.DS_Store
Thumbs.db
/freetype6.dll
/intl.dll
/libasprintf-0.dll
/libatk-1.0-0.dll
/libcairo-2.dll
/libexpat-1.dll
/libfontconfig-1.dll
/libgail.dll
/libgailutil-18.dll
/libgcc_s_dw2-1.dll
/libgdk-win32-2.0-0.dll
/libgdkglext-win32-1.0-0.dll
/libgdk_pixbuf-2.0-0.dll
/libgio-2.0-0.dll
/libglib-2.0-0.dll
/libgmodule-2.0-0.dll
/libgobject-2.0-0.dll
/libgthread-2.0-0.dll
/libgtk-win32-2.0-0.dll
/libgtkglext-win32-1.0-0.dll
/libpango-1.0-0.dll
/libpangocairo-1.0-0.dll
/libpangoft2-1.0-0.dll
/libpangowin32-1.0-0.dll
/libpixmap.dll
/libpng14-14.dll
/libwimp.dll
/q3map2.exe
/q3map2_log.txt
/t1_rail.bsp
/t1_rail.map
/t1_rail_sample.map
/t1_rail_test.map
/t1_sour.bsp
/t1_sour.map
/t1_sour2.map
/t1_sour_test.bsp
/t1_sour_test.map
/t1_sour_test.prt
/t1_sour_test.srf
/t2_rancor_sample.map
/t3_rift_sample.map
/texturedebug.md
/zlib1.dll
